<h1>Modify this Itinerary</h1>
<!-- Update Itinerary form -->
<%= form_for @itinerary do |f| %>

<li>
   <%= f.label :name_i %>
   <%= f.text_field :name_i%>

   <%= f.label :origin %>
   <%= f.text_field :origin%>

   <%= f.label :city %>
   <%= f.text_field :city%>
</li>

<li>
   <%= f.label :departure_date %>
   <%= f.text_field :departure_date%>

   <%= f.label :return_date %>
   <%= f.text_field :return_date%>

   <%= f.submit "Save Itinerary" %>
   <%= link_to "Delete", itinerary_path(@itinerary), method: :delete, data: {confirm: "Are you sure?"} %>
</li>
<br>
<hr>

<% end %>


<!-- Update Destination form -->

<h3>Modify this Destinations</h3>
<% @destinations.each do |destination| %>

   <%= form_for [ destination] do |f| %>
   
      <li>
         Stored Location: <%=f.text_field :location , disabled: :disabled %> 
         Stored name: <%=f.text_field :name_d , disabled: :disabled %>
         Stored date: <%=f.text_field :date , disabled: :disabled %>
         
            <%= link_to "Delete", it_destinations_delete_path(@destinations,destination), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>

      Edit: <%= f.label :location%>
      <%= f.text_field :location%></li>

      Edit:   <%= f.label "Modify" %>
      <%= f.text_field :name_d%></li>

      Edit: <%= f.label :date %>
      <%= f.text_field :date%></li>
      
      <%= f.submit "add" %>
      <br>
      <br>

   <% end %>
<% end %>
<hr>
<!-- Edit Destination - Another option -->
  


<!-- Add new Destination form -->

<h3>Add new Destination</h3>


   <%= form_for [@itinerary, Destination.new] do |f| %>

      <%= f.label :location%>
      <%= f.text_field :location%></li>

      <%= f.label :name_d %>
      <%= f.text_field :name_d%></li>

      <%= f.label :date %>
      <%= f.text_field :date%></li>

      <%= f.submit "Add destination" %>

   <% end %>

   <br>

   <%= button_to "Go back", itineraries_path , :class => "button", :method => :get %>


