<h1>Add new Itineraries</h1>
<!-- Error messages -->
<% if @itinerary.errors.any? %>
   <% @itinerary.errors.full_messages.each do |error|%>
   <p class="text-danger">
      <%= error%>
   </p>
   <% end %>
<% end %>

<!-- Add new Itinerary form -->
<%= form_for @itinerary do |f| %>

<li><%= f.label :name_i %> 
<%= f.text_field :name_i%></li>


<li><%= f.label :origin %>
<%= f.text_field :origin%></li>

<li><%= f.label :city %>
<%= f.text_field :city%></li>

<li><%= f.label :departure_date %> (yyyy-mm-dd)
<%= f.text_field :departure_date%></li>

<li><%= f.label :return_date %> (yyyy-mm-dd)
<%= f.text_field :return_date%></li>

<%= f.submit "Save" %>
<% end %>
<br>
<hr>
<%= button_to "Go back", itineraries_path , :class => "button", :method => :get %>

