<h1><%= @itinerary.name_i %></h1>
<h2><%= @itinerary.origin %> <small>to: </small><%= @itinerary.city %></h2>
<h4><%= @itinerary.departure_date %></h4>
<h4><%= @itinerary.return_date %></h4>
<p>
<% @destinations.each do |destination| %>
<%= destination.name_d %>
</p>
<% end %>
